* {
	margin: 0;
	padding: 0;
	color: white;
	overflow: hidden;
}

body {
	background: url(../imgs/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: stretch;
	background-size: cover;
}

.center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.main {
	position: absolute;
	width: 510px;
	height: 390px;
}

.form-div {
	position: relative;
	width: 100%;
	overflow: hidden;
	border: none;
	display: none;
}

.btnlogar {
	width: 100%;
}

button {
	outline: none;
}

a {
	color: white;
	cursor: pointer;
}