@media only screen and (min-width: 992px) {
  .main-container {
  	margin-left: 350px !important;
  }
}

body {
	background: url(../imgs/background.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.text-right {
	text-align: right;
}

.text-left {
	text-align: left;
}

span.info-span {
	font-size: 24px !important;
	vertical-align: middle;
}

.folder-span {
	margin-right: 15px;
}

.mail-container {
    height: 640px;
}

.mail-content {
	height: 606px;
	overflow-y: scroll;
	overflow-x: hidden;
}

.mail-header {
    height: 54px;
    padding: 8px 16px;
    border-bottom: 1px solid lightgray;
}

.mail-header * {
    color: gray !important;
    font-size: 32px !important;
}

.mail-date {
    text-align: right;
}

.no-margin {
    margin: 0 !important;
}

.close-btn {
	position: absolute;
	top: 0;
	right: 0;
	height: 56px;
	z-index: 999;
}

.close-btn > i {
	font-size: 32px !important;
}

.vertical-align {
	display: table;
}

.vertical-align > * {
	display: table-cell;
    vertical-align: middle;
}

.main-container {
  	margin: 25px 25px 25px 25px;
  }

.sidenav li a i.material-icons {
	margin: 0 16px 0 0 !important;
}

.mail-collection-item {
	padding: 10px 20px !important;
}

.user-header {
	background: url(../imgs/sea.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 15px 0 !important;
}

.center-div {
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.form-container {
	position: absolute;
	width: 510px;
	height: 390px;
	overflow: hidden;
	color: white;
}

.form-container > input {
	color: white !important;
}

.form-container > input:focus {
	color: white !important;
}

.data-fields {
	padding-top: 10px;
}

.form-div {
	position: relative;
	margin-top: 20px;
	width: 100%;
	border: none;
	display: none;
}

.btn {
	margin: 10px 0;
	width: 100%;
}

.opcoes {
	margin-top: 15px;
	width: 100%;
}

button {
	outline: none;
}

a {
	cursor: pointer;
	color: white;
}